.request {
  background-color: #c48969;
  color: #f0ede4;
  width: 100vw;
  height: 8vh;
  font-family: "sofia_pro__condensed_8";
  border-style: none;
  font-size: 1.5rem;
  margin-top: 1vh;
}
.view {
  background-color: #90b083;
  color: #f0ede4;
  width: 100%;
  height: 8vh;
  font-family: "sofia_pro__condensed_8";
  border-style: none;
  font-size: 1.3rem;
}
.view:hover {
  background-color: #c1beaf;
}

.request:hover {
  background-color: #c1beaf;
}

.Text {
  color: #f7f3df;
  font-style: normal;
  font-family: "Analogue";
  font-size: larger;
}

.projectsList {
  margin-top: 2vh;
}

.modal {
  margin: 0;
  position: absolute;
  background: #f0ede4;
  width: 100vw;
  height: 100vh;
}
