.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.window {
  position: absolute;
  background: #f0ede4;
  width: 100vw;
  height: 100vh;
}

.inputs {
  margin-bottom: 5vh;
  width: 100%;
  height: 6vh;
  margin: 10;
}

.title {
  font-family: "sofia_pro__condensed_8";
  font-size: 2rem;
  margin-bottom: 5vh;
  text-align: center;
}

.close-btn,
.save-btn {
  margin-bottom: 10vh;
  background-color: #90b083;
  color: #f0ede4;
  width: 100%;
  height: 6vh;
  font-family: "sofia_pro__condensed_8";
  border-style: none;
  font-size: 1.3rem;
}
.close-btn:hover,
.save-btn:hover {
  background-color: #c1beaf;
}
