@font-face {
  font-family: "sofia_pro__condensed_8";
  src: url("sofiapro-condensed81-webfont.woff2") format("woff2"),
    url("sofiapro-condensed81-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --amplify-primary-color: #797b63;
  --amplify-primary-tint: #c48969;
  --amplify-primary-shade: #f0ede4;
  background-color: #b1ad9e;
  --amplify-secondary-color: #c48969;
  --amplify-font-family: "sofia_pro__condensed_8";
  --border-radius: 4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "sofia_pro__condensed_8";
}

.project,
.questionnaire,
.profile {
  display: flex;
  align-items: center;
}
